

.sidenav {
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #21524D;
  overflow-x: hidden;
  padding-top: 10px;
}

.sidenav a {
  padding: 30px 30px 30px 30px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}
